__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!data/sample/
*.egg-info/
dist/
build/
